.idea
act
.env
.env.dev
.env.prod
docker-compose.override.yml
local_models/

# Logs
back/logs/
logs/
*.log
*.log.*
.github

resources/docs/platon_docs
resources/backup
resources/json_exported
resources/examples
resources/docs

# Operating System files
.DS_Store # macOS
back/.DS_Store
front/.DS_Store
Thumbs.db # Windows
